.body{
	margin:0;
	padding:0;
}
.container{
	margin-top: 100px;
}
.name{
	font-size: 25px;
	color:blue;
	float:left;
	border-bottom: 1px solid silver;
}
.panel{
	border: 0;
	overflow:hiiden;
}
.form-control1{
	float:left;
	width:20%;
	margin-top:8px;
	margin-left: 30px;
}
.panel-left{
	
	width:70%;
	border:1px solid lightblue;
	margin-top: 50px;
	overflow:auto;
	margin-left: auto;
	margin-right: auto;
}
.
.btn-primary{
	float:left;
	margin-left: 20px;
	padding:11px 12px !important;
}
.glyphicon-log-out{
	float:right;
	color:black !important;
	font-size: 21px;
}
label{
	color:white;
	font-weight: 1500;
}
.btn-login{
	float:right;
}
.table{
	width:80%;
	margin-top:30px;
	margin-right: auto;
	margin-left: auto;
}
.error{
	width:20% !important;
	
}
.error_right{
	float:right !important;
	right:-850px !important;
	top:67px; 
	padding:0px 12px;
}
.error3{
	text-align: center;
}
