.body{
	margin:0;
	padding:0;
}
.container{
	margin-top: 100px;
}
.name{
	font-size: 25px;
	color:blue;
	float:left;
	border-bottom: 1px solid silver;
}
.panel{
	border: 0;
	overflow:hiiden;
}
.form-control1{
	float:left;
	width:50%;
}
.ad_but{
	margin-left: 10px;
}
.panel-left{
	
	width:70%;
	border:1px solid black;
	margin-top: 50px;
	overflow:auto;
	margin-left: auto;
	margin-right: auto;
}
.
.btn-primary{
	float:left;
	margin-left: 20px;
	padding:11px 12px !important;
}
.glyphicon-log-out{
	float:right;
	color:black !important;
	font-size: 21px;
	margin-top: 20px;
}
label{
	color:white;
	font-weight: 1500;
}
.btn-login{
	float:right;
}
.table{
	width:80%;
	margin-top:30px;
	margin-right: auto;
	margin-left: auto;
}
.error{
	width:20% !important;
	
}
.error_right{
	float:right !important;
	right:-850px !important;
	top:67px; 
	padding:0px 12px;
}
.error3{
	text-align: center;
}
.our_posts{
	border:1px solid lightblue;
	 border-collapse: collapse;
}
.post{
	display:inline-block;
	margin-left: 20px;
	font-size: 22px;
	color:#001f4d;
}
.all_users, .all_posts{
	width: 30%;
	margin: 10px auto;
	border:1px solid green;
}
.all_users,.all_posts p{
	text-align: center;
	font-size: 23px;
}

.chevron{
	text-align: center;
}
.edit,.del,.delete{
	cursor:pointer;
	transition:all 1.3 ease;
}
.edit:hover{
	color:#999999;
}
.del:hover{
	color:#999999;
}
.delete:hover{
	color:#999999;
}
.hed{
	padding:50px 340px;
	border:1px solid #999999;
	text-align: center;
}
.cont{
	width:29%;
	float:left;
}
.cont_1{
	float:left;
	margin:left:30px;
}
.cont_2{
	float:left;
	margin-left:30px;
	margin-top:20px;

}
.cont_2,.cont_3 p{
	font-size: 25px;
	transition:all 1.3 ease;
}
.cont_3 p:hover{
	color:#A9A9A9;
}
.cont_2 p:hover{
	color:#A9A9A9;
}
.cont_3{
    margin-top:20px;
    float:left;
    margin-left:20px;
}
.cont_4{
	 margin-top:20px;
    float:left;
    margin-left:20px;
}
.cont_5{
	 margin-top:20px;
    float:left;
    margin-left:20px;
    font-size: 25px;
}

.my_fr{
	color:#001f4d;
	font-size: 23px;
}
.my_fr:hover{
	text-decoration: none;
}
.friend{
	margin-left: 20px;
	font-size: 25px;
	color:#787878 ;
}
.friend:hover{
	text-decoration: none;
	color:#A9A9A9;
}	
.message{
	width:30%;
	float: left;
    margin:50px 100px 30px 100px;
    padding-left: 20px;
    border:1px solid silver;
    height: 400px;
    overflow: auto;
}
.send{
	width: 50%;
	margin:0 auto;
}
.inp{
	width:70% !important;
	float: left;
}
.btn1{
	float: left;
	margin-left: 30px;
}
.text{
	color:#787878;
	font-size: 20px;
}

.img{
	width:10% !important;
    margin-right:10px;
}